
    p {
        line-height: 25px;
        font-size:20px;
        color:black;
        font-family: 'PT Sans', sans-serif;
        padding: 5px 10px 5px 10px;
        text-align:center;
    }
}

main {
    max-width:1024px;
    margin:0 auto;
}
 .main-wrapper {
     margin-top:25px;
 }


