
.header-container {
    position:relative;
    height:120px;
    max-width:1024px;
    margin: 0 auto;
    top:0;
    background-color:white;

    @media (max-width: 1024px){
        padding: 0 3%;
    }
}

.logo {
    position:absolute;
    top:0px;
    left:0;
    bottom:25px;
    width:300px;
    background-image:url("../images/logo.png");
    background-image:url("../images/logo.svg");
    background-position:center left;
    background-size:contain;
    background-repeat:no-repeat;

    @media (max-width: 1024px){
        left: 3%;
        top: 14px;
    }
}

.header-items {
    float:right;
    margin-top: 60px;
    list-style-type: none;

    @media (max-width: 600px){
        margin-top: 0;
    }
    
        li {
            float:right;
            margin: 0px 10px;

            @media (max-width: 600px){
                float: none;
            }
        }

        li a {
            color: #7e7e7e;
            text-align: right;
            padding: 14px 0 14px 16px;
            text-decoration: none;
            display:block;
            cursor: pointer;
       }

       a:hover {
           text-decoration: underline;
           color: darkgrey;
       }

}
