// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

html {
    padding:0;
    margin:0;
    background-color:white;
}

.header-container {
    position:fixed;
    height:120px;
    width:100%;
    top:0;
    background-color:white;
}

.logo {
    margin: 20px 0 0 15%;
    float:left;
}

.header-items {
    float:right;
    margin-top: 60px;
    margin-right:15%;
    list-style-type: none;
    
        li {
            float:right;
            width:105px;
            height:40px;
            margin: 0px 10px 0 10px;
        }

        li a {
            color: gray;
            text-align: right;
            padding: 14px 0 14px 16px;
            text-decoration: none;
            display:block;
       }

}

.main-container {
    width:70%;
    margin: 180px 15% 0 15%;
 
        h1 {
            font-size:30px;
        }

        a {
            text-decoration:none;
            cursor: pointer;
        }

        a:visited {
            text-decoration:none;
            color:blue;
            cursor: pointer;
        }
        
}

.projects {
    width:70%;
    margin:30px auto 45px auto;
}

.project {
    height:400px;
    width:calc(92%/3);
    display:inline-block;
    margin:0 1% 5% 1%;

    .image {
        height: 350px;
        background-position: center;
        background-size: cover;
    }

    img{
        height: 350px;
        width:100%;
    }

    p {
        margin: 5px 0;
    }

    a {
        text-decoration:none;
        cursor: pointer;
    }
    
    a:visited {
        text-decoration:none;
        color:blue;
        cursor: pointer;
    }
    

}

.about-me {
    max-width:1024px;
    margin:25px 15% 10px 15%;
    padding: 20px;
    background:white;
    
    p {
        line-height: 25px;
        font-size:20px;
        color:black;
        font-family: 'PT Sans', sans-serif;
        padding: 5px 10px 5px 10px;
        text-align:center;

    }
}
