// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

html {
    padding:0;
    margin:0;
    background-color:#d3d3d3;
}

.headerContainer {
    position:fixed;
    height:120px;
    width:100%;
    top:0;
    //margin:0 15% 20px 15%;
    background-color:white;
}

.logo {
    margin: 20px 0 0 15%;
    float:left;
}

.headerItems {
    float:right;
    margin-top: 60px;
    margin-right:15%;
    list-style-type: none;
    
        li {
            float:right;
            width:105px;
            height:40px;
            margin: 0px 10px 0 10px;
        }

        li a {
            color: gray;
            text-align: right;
            padding: 14px 0 14px 16px;
            text-decoration: none;
            display:block;
       }

}

.mainContainer {
    width:70%;
    margin: 180px 15% 0 15%;
 
        h1 {
            font-size:30px;
        }

        a {
            text-decoration:none;
        }

        a:visited {
            text-decoration:none;
            color:blue;
        }
        
}

.displayContainer {
    width:70%;
    margin:30px auto 45px auto;
    display: flex;
    justify-content: space-between;
    }

.displayContent {
    height:400px;
    width:calc(95%/3);
    display:inline-block;

    img{
        height: 350px;
        content:contain;
        width:100%;
    }

}
