// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

.headerContainer {
    position:fixed;
    height:120px;
    width:70%;
    margin: 0 15% 0 15%;

}

.logo {
    margin: 20px 0 0 20px;
    float:left;
    ;

       

}

.headerItems {
    float:right;
    margin-top: 60px;
    list-style-type: none;
    
        li {
            float:right;
            width:105px;
            height:40px;
            margin: 0px 10px 0 10px;
        }

        li a {
            color: gray;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            display:block;
            
            
       }
}